@media only screen and (min-width: 1024px) {
  .banner {
    height: 360px;
  }

  .bg-car {
    margin-top: 145px;
    height: 185px;
  }

  .navbar-content {
    margin-left: 70px;
    margin-right: 70px;
  }

  .car-image {
    width: 1300px;
    margin-top: 30px;
  }

  .text-and-button {
    padding-top: 50px;
  }

  .banner h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .banner p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .service-text {
    padding-top: 6vw;
  }

  .footer {
    margin-top: 150px;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
    margin-left: 136px;
    margin-right: 136px;
  }
}

@media only screen and (min-width: 1114px) {
  .banner {
    height: 395px;
  }

  .bg-car {
    margin-top: 145px;
    height: 220px;
  }

  .navbar-content {
    margin-left: 70px;
    margin-right: 70px;
  }

  .car-image {
    width: 1300px;
    margin-top: 30px;
  }

  .text-and-button {
    padding-top: 50px;
  }

  .banner h1 {
    font-size: 25px;
    line-height: 30px;
  }

  .banner p {
    font-size: 13px;
    margin-bottom: 0;
  }

  .carousel {
    background-color: #f1f3ff;
    margin: 130px;
    margin-top: 60px;
  }

  .caraousel-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media only screen and (min-width: 1150px) {
  .banner {
    height: 370px;
  }

  .bg-car {
    margin-top: 150px;
    height: 200px;
  }

  .navbar-content {
    margin-left: 70px;
    margin-right: 70px;
  }

  .car-image {
    width: 1300px;
    margin-top: 20px;
  }

  .text-and-button {
    padding-top: 40px;
  }

  .banner h1 {
    font-size: 28px;
    line-height: 30px;
  }

  .banner p {
    font-size: 15px;
    margin-bottom: 0;
  }

  .button-rental {
    font-size: 18px;
    width: 150px;
    height: 45px;
    margin-top: 16px;
  }

  .img-service {
    width: 430px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .service {
    gap: 65px;
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media only screen and (min-width: 1200px) {
  .FAQ {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-between;
  }

  .accordion-item {
    width: 650px;
  }
}

@media only screen and (min-width: 1225px) {
  .banner {
    height: 381px;
  }

  .bg-car {
    margin-top: 140px;
    height: 220px;
  }
}

@media only screen and (min-width: 1260px) {
  .banner {
    height: 400px;
  }

  .bg-car {
    margin-top: 150px;
    height: 230px;
  }

  .img-service {
    width: 459px;
    padding-bottom: 100px;
  }

  .service {
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media only screen and (max-width: 1278px) {
  .card-why-us h3 {
    font-weight: bolder;
    font-size: 20px;
    line-height: 24px;
  }

  .card-why-us p {
    font-weight: 100;
    font-size: 17px;
  }
}
