@media only screen and (min-width: 1280px) {
  .bg-car {
    margin-top: 140px;
    height: 200px;
  }

  .banner {
    height: 390px;
  }

  .car-image {
    width: 1000px;
    margin-top: 50px;
  }

  .navbar-content {
    margin-right: 136px;
    margin-left: 136px;
  }

  #banner-text {
    padding-left: 136px;
    padding-right: 32px;
  }

  .button-rental {
    font-size: 25px;
    margin-left: 136px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
  }

  .banner h1 {
    font-weight: 700;
    line-height: 54px;
    font-size: 40px;
    margin-bottom: 0;
  }

  .banner p {
    font-size: 20px;
    margin-bottom: 0;
  }

  #banner-text {
    padding-left: 136px;
    padding-right: 100px;
  }

  .banner h1 {
    font-size: 36px;
    line-height: 54px;
  }

  .banner p {
    font-size: 14px;
    margin-bottom: 0;
  }

  .button-rental {
    margin-top: 15px;
    width: 140px;
    height: 40px;
    font-size: 14px;
  }

  .why-us ul {
    padding-left: 136px;
    padding-right: 136px;
    flex-direction: row;
    gap: 32px;
  }

  .why-us-title {
    text-align: start;
    margin-left: 136px;
    margin-right: 136px;
  }

  .carousel {
    background-color: #f1f3ff;
    margin: 200px;
    margin-top: 60px;
  }

  .caraousel-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }

  .profile-testi {
    margin-top: 68%;
  }

  .card-why-us {
    max-width: 500px;
    max-height: 196px;
  }

  .img-service {
    padding-top: 65px;
  }

  .service {
    padding-left: 100px;
    padding-right: 100px;
  }

  .service h2 {
    text-align: justify;
    font-size: 30px;
    line-height: 36px;
  }

  .service ul {
    list-style: none;
    padding-left: 0;
  }

  .service p {
    text-align: justify;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
  }

  .service-list img {
    width: 24px;
  }

  .service-list p {
    margin-top: -1px;
    font-weight: 300;
    font-size: 18px;
  }

  .rental-car-card {
    margin-top: 0;
    margin-left: 136px;
    margin-right: 136px;
  }

  .FAQ {
    margin-left: 136px;
    margin-right: 136px;
    gap: 60px;
  }
}

@media only screen and (min-width: 1419px) {
  .bg-car {
    margin-top: 165px;
    height: 240px;
  }

  .banner {
    height: 455px;
  }

  #banner-text {
    padding-right: 60px;
  }

  .button-rental {
    margin-top: 30px;
    width: 160px;
    height: 40px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1521px) {
  .bg-car {
    margin-top: 170px;
    height: 225px;
  }

  .banner {
    height: 445px;
  }

  #banner-text {
    padding-right: 60px;
  }

  .service {
    padding-left: 200px;
    padding-right: 200px;
  }

  .caraousel-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
  }

  .testimonial {
    margin-bottom: -140px;
  }
}

@media only screen and (min-width: 1519px) {
  .bg-car {
    margin-top: 175px;
    height: 240px;
  }

  .banner {
    height: 467px;
  }

  .carousel {
    background-color: #f1f3ff;
    margin: 320px;
    margin-top: 50px;
  }
  .caraousel-content p {
    text-align: justify;
    font-size: 20px;
  }

  .profile-testi {
    margin-top: 90px;
  }

  .why-us p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1732px) {
  .bg-car {
    margin-top: 190px;
    height: 270px;
  }

  .banner {
    height: 513px;
  }
}

@media only screen and (min-width: 1738px) {
  .bg-car {
    margin-top: 150px;
    height: 260px;
  }

  .banner {
    height: 460px;
  }

  .button-rental {
    font-size: 25px;
    margin-left: 136px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
  }

  .banner h1 {
    font-weight: 700;
    line-height: 54px;
    font-size: 40px;
    margin-bottom: 0;
  }

  .banner p {
    font-size: 20px;
    margin-bottom: 0;
  }

  #banner-text {
    padding-left: 136px;
    padding-right: 60px;
  }
  .caraousel-content {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    gap: 45px;
  }

  .carousel {
    background-color: #f1f3ff;
    margin: 340px;
    margin-top: 50px;
  }
  .caraousel-content p {
    text-align: justify;
    font-size: 24px;
  }

  .profile-testi {
    margin-top: 100px;
  }

  .service {
    padding-left: 250px;
    padding-right: 250px;
  }
}

@media only screen and (min-width: 1890px) {
  .bg-car {
    margin-top: 160px;
    height: 250px;
  }

  .banner {
    height: 461px;
  }

  .button-rental {
    font-size: 25px;
    margin-left: 136px;
    width: 200px;
    height: 50px;
    margin-top: 30px;
  }

  .banner h1 {
    font-weight: 700;
    line-height: 54px;
    font-size: 40px;
    margin-bottom: 0;
  }

  .banner p {
    font-size: 20px;
    margin-bottom: 0;
  }

  #banner-text {
    padding-left: 136px;
    padding-right: 200px;
  }

  .profile-testi {
    margin-top: 80px;
  }

  .service {
    padding-left: 370px;
    padding-right: 370px;
  }

  .accordion-item {
    width: 890px;
  }
}
