@font-face {
  font-family: Helvetica;
  src: url(../assets/font/Helvetica.ttf);
}

body {
  font-family: Helvetica;
}

ul {
  list-style-type: none;
}

.flex-box-col {
  display: flex;
  flex-direction: column;
}

.flex-box-row {
  display: flex;
  flex-direction: row;
}

/* all button */
.button {
  background-color: #5cb85f;
  border: none;
}

.button:hover {
  background-color: rgb(122, 194, 125);
}

/* Navbar */
.navbar {
  background-color: #f1f3ff;
  width: 100%;
}

.logo {
  background-color: #0d28a6;
  width: 100px;
  height: 34px;
}

.navbar-ul {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.nav-link {
  font-size: 14px;
}

.nav-button {
  margin-top: 6px;
  margin-bottom: 6px;
}

.navbar-content {
  margin-left: 16px;
  margin-right: 16px;
}

/* offcanvas */
#offcanvasNavbar {
  width: 180px;
}

.button-register {
  width: 81px;
  height: 36px;
}
.offcanvas-header {
  padding-top: 34px;
  padding-bottom: 0;
}

.offcanvas-body {
  margin-top: -10px;
}

.nav-item {
  margin-top: 16px;
}

.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  color: #000000;
}

.font-button {
  color: white;
  font-size: 0.8em;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 20px;
}

/* All about banner */
.banner {
  background-color: #f1f3ff;
  height: 590px;
  width: 100%;
}

#banner-text {
  padding-left: 16px;
  padding-right: 16px;
}

.banner h1 {
  font-weight: 700;
  line-height: 54px;
  font-size: 36px;
  margin-bottom: 0;
}

.banner p {
  padding-right: 10px;
  font-size: 14px;
  margin-bottom: 0;
}

.paragraf-banner {
  padding-top: 16px;
}

.button-rental {
  margin-left: 16px;
  width: 140px;
  height: 36px;
  margin-top: 16px;
}

#mercedes-car {
  width: 100%;
  margin-top: 1px;
}

.car-image {
  width: 344px;
  margin-top: 24px;
  margin-inline-start: auto;
}

.bg-car {
  background-color: #0d28a6;
  width: 100%;
  height: 118px;
  margin-top: 80px;
}

.rounded-top-left-1 {
  border-top-left-radius: 60px;
}

/* service */
.service {
  /* margin-bottom: 100px; */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.img-service {
  width: 100%;
  padding-top: 60px;
  padding-left: 54px;
  padding-right: 54px;
}

.service h2 {
  text-align: justify;
  font-size: 24px;
  line-height: 36px;
}

.service ul {
  list-style: none;
  padding-left: 0;
}

.service p {
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.service-list img {
  width: 24px;
}

.service-list p {
  margin-top: 4px;
  font-weight: 300;
  font-size: 14px;
}

.service-text {
  margin-left: 16px;
  margin-right: 16px;
}

/* why us */
.why-us {
  margin-top: 10vw;
}

.why-us ul {
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-why-us {
  padding: 24px;
}

.card-why-us h3 {
  font-weight: bolder;
  font-size: 16px;
  line-height: 24px;
}

.card-why-us p {
  font-weight: 200;
  font-size: 13px;
}

/* testimonial */
.testimonial {
  margin-top: 200px;
}

.carousel {
  background-color: #f1f3ff;
  margin: 16px;
  margin-top: 50px;
}

.caraousel-content {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.caraousel-content p {
  text-align: justify;
  font-size: 14px;
}

.next-button,
.prev-button {
  margin-top: 10px;
  padding-bottom: 270px;
}

.profile-testi,
.star {
  display: flex;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* rental car card */

.rental-car-card {
  background-color: #0d28a6;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-left: 55px;
  padding-right: 55px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 70px;
}

.rental-car-card h1 {
  font-size: 23px;
}

.rental-car-card p {
  font-size: 17px;
}

.another-button-rental {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* FAQ */
.FAQ {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 16px;
  margin-right: 16px;
}

/* footer */
.footer {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 60px;
}

.nav-item-footer {
  margin-bottom: 16px;
}

address {
  margin-bottom: 0;
}

#no-tlp {
  margin-bottom: 0;
}

#faq {
  margin-bottom: 0;
}

.car-filter {
  width: 1500px;
  height: 106px;
  background-color: white;
}

.form-select {
  min-width: 150px;
}

#waktuJemput {
  background-image: url('../assets/icon/fi_clock.png');
  background-size: auto;
}

#tanggal {
  background: transparent;
}

.button-find-car {
  width: 92px;
  height: 36px;
}

.margin-top-button-find-car {
  margin-top: 32px;
}

.margin-top-car-list {
  margin-top: 150px;
}

.card-car {
  margin-left: 200px;
}

.icon-card {
  width: 25px;
}

.icon-list-card {
  padding-left: 0;
}

.card-car span {
  margin-left: 12px;
}

.card-size {
  width: 484px;
  height: 850px;
}

/* .car-image {
  width: 400px;
} */

.desc-card {
  line-height: 20px;
  height: 50px;
}
