@media only screen and (max-width: 650px) {
  #navbarNav {
    display: none;
  }
}

@media only screen and (min-width: 361px) {
  .car-image {
    width: 350px;
  }
}

@media only screen and (min-width: 367px) {
  .car-image {
    margin-top: 26px;
  }

  .bg-car {
    height: 130px;
  }

  .banner {
    height: 550px;
  }
}

@media only screen and (min-width: 375px) {
  .car-image {
    width: 356px;
  }
}

@media only screen and (min-width: 399px) {
  .car-image {
    width: 380px;
  }

  .banner {
    height: 540px;
  }

  .bg-car {
    height: 130px;
    margin-top: 90px;
  }
}

@media only screen and (min-width: 419px) {
  .car-image {
    width: 399px;
  }
}

@media only screen and (min-width: 429px) {
  .car-image {
    width: 410px;
  }
}

@media only screen and (min-width: 444px) {
  .car-image {
    width: 426px;
  }

  .banner {
    height: 570px;
  }

  .bg-car {
    height: 150px;
    margin-top: 100px;
  }
}

@media only screen and (min-width: 460px) {
  .car-image {
    width: 440px;
  }

  .next-button,
  .prev-button {
    margin-top: 10px;
    padding-bottom: 200px;
  }

  .caraousel-content {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media only screen and (min-width: 484px) {
  .car-image {
    width: 465px;
  }
  .banner {
    height: 590px;
  }

  .bg-car {
    height: 160px;
    margin-top: 110px;
  }
}

@media only screen and (min-width: 492px) {
  .car-image {
    width: 470px;
  }

  .banner {
    height: 540px;
  }

  .bg-car {
    height: 165px;
  }
}

@media only screen and (min-width: 503px) {
  .car-image {
    width: 485px;
  }

  .banner {
    height: 540px;
  }

  .bg-car {
    height: 165px;
  }

  .service {
    gap: 66px;
  }

  .service-text {
    margin-left: 40px;
    margin-right: 40px;
  }
}

@media only screen and (min-width: 525px) {
  .car-image {
    width: 503px;
  }
}

@media only screen and (min-width: 532px) {
  .car-image {
    width: 514px;
    margin-top: 28px;
  }

  .banner {
    height: 568px;
  }

  .bg-car {
    height: 170px;
    margin-top: 130px;
  }
}

@media only screen and (min-width: 546px) {
  .car-image {
    width: 526px;
  }
}

@media only screen and (min-width: 559px) {
  .car-image {
    width: 540px;
  }
}

@media only screen and (min-width: 573px) {
  .car-image {
    width: 555px;
  }

  .banner {
    height: 566px;
  }

  .bg-car {
    height: 190px;
  }

  .img-service {
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media only screen and (min-width: 589px) {
  .car-image {
    width: 570px;
  }
}

@media only screen and (min-width: 612px) {
  .car-image {
    width: 593px;
  }

  .banner {
    height: 590px;
  }

  .bg-car {
    height: 188px;
    margin-top: 155px;
  }

  .caraousel-content {
    padding-left: 80px;
    padding-right: 80px;
  }

  .next-button,
  .prev-button {
    padding-bottom: 10px;
  }
}

@media only screen and (min-width: 631px) {
  .car-image {
    width: 610px;
  }
}

@media only screen and (min-width: 651px) {
  .hamburger {
    display: none;
  }

  .car-image {
    width: 632px;
  }

  .banner {
    height: 606px;
  }

  .bg-car {
    height: 200px;
    margin-top: 160px;
  }
}

@media only screen and (min-width: 663px) {
  .car-image {
    width: 645px;
  }

  .caraousel-content {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
    padding-top: 40px;
  }
}

@media only screen and (min-width: 681px) {
  .car-image {
    width: 664px;
  }
}

@media only screen and (min-width: 690px) {
  .car-image {
    width: 670px;
  }

  .banner {
    height: 627px;
  }

  .bg-car {
    height: 205px;
    margin-top: 175px;
  }
}
@media only screen and (min-width: 703px) {
  .car-image {
    width: 683px;
  }
}

@media only screen and (min-width: 718px) {
  .car-image {
    width: 698px;
  }
}

@media only screen and (min-width: 726px) {
  .car-image {
    width: 707px;
  }

  .banner {
    height: 656px;
  }

  .bg-car {
    height: 225px;
    margin-top: 185px;
  }
}

@media only screen and (min-width: 742px) {
  .car-image {
    width: 720px;
  }
}

@media only screen and (min-width: 754px) {
  .car-image {
    width: 735px;
  }
}

@media only screen and (min-width: 759px) {
  .banner {
    height: 655px;
  }

  .banner {
    height: 662px;
  }

  .bg-car {
    height: 230px;
  }
}
